<section>
  <div class="col-md-12">
    <div class="error-template">
      <h1>
        Oops!
      </h1>
      <p class="error-details">
        There was an error processing this request.
      </p>
      <div class="error-actions">
        <%= link_to root_url, class: "btn btn-primary btn-lg" do %>
            <span class="glyphicon glyphicon-home"></span>
            Take Me Home
        <% end %>
      </div>
    </div>
  </div>
</section>
